/**
 * Navbar styling.
 */
@media screen and (min-width:610px) and (max-width:767.99px) {

  // padding-top: 180px !important;
  body.role-authenticated:not(.role-administrator) .h-100 {
    margin-top: 180px;
  }

  body.role-authenticated:not(.role-administrator) .main-inner-wrapper {
    margin-top: 500px;
  }
}

@media screen and (min-width:768px) {
  body.role-authenticated:not(.role-administrator) {
    padding-top: 170px !important;
  }
}
@media screen and (min-width:768px) {
  body.role-administrator {
    padding-top: 82px !important;
  }
}

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    margin-top: ($grid-gutter-width / 2);
  }

  @include media-breakpoint-up(md) {
    &.toolbar-vertical {

      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }

        header {
          z-index: 500;
        }
      }

      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}