.feed-icon {
  padding: 20px;
}

.page-node-type-landing-page-public- {
  .form-text {
    max-width: 300px;
  }

  #passeye-toggle-0,
  .input-wrapper,
  #edit-submit {
    text-shadow: 0px 0px 3px #000;
  }

  .header-content,
  .pre-content,
  .py-5 {
    display: none !important;
  }

  .block-user-login-block h2 {
    margin-left: 20px;
  }
}
body.path-user #block-open-mff-content {
  background:rgba(255, 255, 255, 0.9);
}
.page-node-type-directory {
  .main-inner-wrapper {
    .layout__region {
      background: none;
    }

    .layout--onecol {
      box-shadow: none !important;
      border-radius: 0;
      background: none;
    }

    .layout__region {
      padding: 0;
    }

    position: relative;
    top: 20px;
    margin: 20px;
    border-radius: 0px 7px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
    background:rgba(255, 255, 255, 0.9);
    padding: 10px;
  }
}

.path-node .node__content {
  border: none !important;
}

.layout--onecol {
  border-radius: 0px 7px;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
}

body.Calendar {
  .node__content {
    padding: 0;
    border-radius: 0px 7px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
  }
}

.path-taxonomy main.first-clearfix {
  // border-radius: 0px 7px;
  // box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
  padding: 0px 20px 20px;

  .main-inner-wrapper {
    position: relative;
    top: 20px;
  }

  .clearfix {
    padding: 0;
  }

  #block-open-mff-content {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 7px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
    // margin: 20px;
    padding: 0;
  }
}

.path-node #block-views-block-frontpage-block-1 {
  // news page
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
  border-radius: 0px 7px;
  background: rgba(255, 255, 255, 0.9);
  margin: 10px;

  h2 {
    padding: 15px;
  }
}

.layout--twocol-section {
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);
  border-radius: 0px 7px;
}

.layout__region {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

article.node--type-article {
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 0px 10px 0px 10px;
  border: 1px dotted lightgray;
  padding: 20px 20px 2px 20px;
  background: transparent;

  .node__submitted {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
  }
}

body.latest-news {

  // news page
  main {
    padding: 20px;
  }
}

div {
  // background:rgba(255, 255, 255, 0.3);
}

body {
  margin-top: 0 !important;
  top: 0px !important;
  background: url('/themes/custom/open_mff/dist/img/OwnPrivateIdaho_tall4.jpg') top left / cover repeat-y;

  &:before {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background: url('/themes/custom/open_mff/dist/img/OwnPrivateIdaho_tall.png') top left / cover repeat-y;
    content: "";
    position: absolute;
    opacity: 1;
    z-index: -10;
  }
}

main {
  .funcolumns {
    // background:rgba(255, 255, 255, 1);
    margin: 15px;

    p,
    span {
      text-shadow: 0 0 4px white;
    }
  }

  img {
    box-shadow: 0px 0px 4px black;
  }

  margin-top: 0;

  // @include media-breakpoint-up(md) {
  //   margin-top: 78px;
  // }

  // @include media-breakpoint-up(lg) {
  //   margin-top: 44px;
  // }
}

#block-openy-carnation-content>.container {
  margin-top: 64px;
}

.with-banner {
  #block-openy-carnation-tabs {
    display: none;
  }
}

.layout-container {
  position: relative;
  overflow-x: hidden;
}

.node--type-blog .wrapper-field-blog-image {
  display: none !important;
}

.row-eq-height,
.modal-body .fieldset-wrapper>div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs {
  text-align: center;

  .tabs--primary.nav.nav-tabs {
    display: inline-block;
  }
}

.status-message {
  text-align: center;
  padding: 10px 0;
}

.field-link-attribute {
  display: none;
}

.toolbar-icon-admin-toolbar-tools-help::before {
  background-image: url(../img/logo-color.png);
}

.two-columns-container,
.user-login,
.webform-submission-form {
  padding-bottom: 20px;
  min-height: 600px;
}

.webform-submission-form {
  padding-top: 136px;
}

.error-page {
  text-align: center;
  margin-bottom: 30px;
}

#block-open-mff-content {
  padding: 20px;
  // background: rgba(0, 0, 0, 0.25);
}